<nav>
  <%= render "layouts/navigation" %>
</nav>

<p id="notice"><%= notice %></p>

<div>
  <strong>
    Name: <%= @craft_beers.name %></br>
  </strong>
</div>

<% if current_user.id == @craft_beer_review.user_id %>
  <ul>
    <li><%= link_to "Update this Craft Beer", edit_craft_beer_craft_beer_review_path %></li>
    <li><%= button_to "Delete this Craft Beer Review", @craft_beer, :method => :delete %></li>
  </ul>
<% end %>

<%= link_to "Back", craft_beers_path %>
