<nav>
  <%= render "layouts/navigation" %>
</nav>

<p id="notice"><%= notice %></p>

<h1>Craft Beers</h1>

<body>
    <% @craft_beers.each do |beer| %>
    <ul>
      <li>Name: <%= beer.name %></li>
      <li>Brewery: <%= beer.brewery %></li>
      <li>Type: <%= beer.craft_beer_type %></li>
      <li><%= link_to "Review This Craft Beer", new_craft_beer_craft_beer_review_path(beer.id)%></li>
    </ul>
  <% end %>
  </br>
</body>
