<nav>
  <%= render "layouts/navigation" %>
</nav>

<h1>Craft Beers</h1>

<table>
  <thead>
    <tr>
      <th>Craft Beer</th>
      <th>Brewery</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @craft_beers.each do |beer| %>
    <tr>
      <td><%= beer.name %></td>
      <td><%= beer.brewery %></td>
      <td><%= link_to "Details", craft_beer_path(beer.id)%> |
        <%= link_to "Add Review", new_craft_beer_craft_beer_review_path(beer.id)%></td>
    </tr>
  <% end %>
  </br>
</tbody>
