
<%= form_for @craft_beer do |f| %>
  Craft Beer Review:
  <ul>
    <%= f.fields_for :craft_beer_review do |craft_beer_review_form| %>
      <li>
        <%= craft_beer_review_form.label :description %>
        <%= craft_beer_review_form.text_field :description %>

        <%= craft_beer_review_form.label :rating %>
        <%= craft_beer_review_form.text_field :rating %>

        <div class="actions">
          <%= form.submit %>
        </div>

      </li>
    <% end %>
  </ul>
<% end %>
